/* Mudar cor de fundo do menu por página */
.menu{
    --bgColor: var(--thirdColor);
}

/* ------- Configurações header */
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

    width: 100%;  
    background-color: var(--thirdColor);
    padding: 0 40px;
    padding-top: 50px;

    position: relative;
    box-sizing: border-box;
}
.cabecalho#amanda{
    background-color: var(--firstColor);
    padding-top: 0px;
}

.cabecalho .thumbnailComputer{
    transform: scale(1.08);
    z-index: 1;
}
.cabecalho .thumbnailMobile{
    display: none;
}

.cabecalho.down{
    overflow: hidden;
}
.cabecalho .content{
    max-width: 500px;
    height: 100%;

    text-align: justify;
    background-color: transparent;    
    color: #1D1D1D;
    z-index: 1;
}
.cabecalho .content h1{
    text-align: center;
    margin-bottom: 10px;
}
.cabecalho .content *{
    margin: 0;
}
.cabecalho .content .btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 10px 30px;

    color: #1D1D1D;
    text-align: center;
    font-size: 14.4px;
    text-transform: uppercase;
    text-decoration: none;    

    cursor: pointer;
}
.cabecalho .content .btn:hover{
    background-color: #f3ddff;
}

.cabecalho p{
    font-size: 20px;
    text-align: justify0;
}

.transition{
    width: 100%;
    height: 20px;

    position: relative;
    overflow: hidden;
}
.transition.down{
    transform: scaleY(-1) scaleX(-1);
    padding-bottom: 20px;
}
.transition.down::before{
    border-color: var(--firstColor) transparent transparent transparent;
}
.transition::before{
    width: 0;
    height: 0;

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

    border-style: solid;
    border-width: 20px 100vw 0 0;
    border-color: var(--thirdColor) transparent transparent transparent;
}
.transition::after{
    width: 0;
    height: 0;

    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    border-style: solid;
    border-width: 20px 100vw 0 0;
    border-color: transparent #f2f5f2 #f2f5f2 #f2f5f2;    
}


/* ------- Configurações seção de caixas */
.subTitle{
    text-align: center;
    margin-top: 40px;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 350px;
    margin: 0 10px;
    margin-bottom: 20px;
}
.boxes > *{
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 350px;
    height: 100%;
    border-radius: 10px;
    background-color: var(--boxColor);
    color: #1D1D1D;
    padding: 30px 20px;    
    
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.boxes > *:nth-child(1n){
    --boxColor: var(--firstColor);
}
.boxes > *:nth-child(2n){
    --boxColor: var(--secondColor);
}
.boxes > *:nth-child(3n){
    --boxColor: var(--thirdColor);
}

.boxes > .box .icon{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 auto;
    width: 120px;
    min-height: 120px;

    position: absolute;
}
.boxes > .box .icon img{
    width: 370px;
    height: 370px;
    opacity: 10%;
    filter: invert(.8);
}
.boxes > .box .icon::after{
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: -20px;
    right: 40px;
    background: linear-gradient(90deg, var(--boxColor) 0%, transparent 100%);;
}

.boxes > .box .description{
    text-align: center;
    font-size: 20px;
    z-index: 1;
}

.choose{
    display: flex;
    position: fixed;
    z-index: 2;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    overflow: hidden;
    z-index: 97;
}
.choose button{
    width: 100px;
    padding: 5px 20px;
    border: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    background-color: #00000014;
}
.choose.nelise{
    background-color: var(--thirdColor);
}
.choose.nelise > a:first-of-type{
    background-color: #00000020;
}
.choose.amanda{
    background-color: var(--firstColor);
}
.choose.amanda > a:last-of-type{
    background-color: #00000020;
}

.cabecalho .thumbnailComputer img{
    max-width: 530px;
}

.buttons{
    display: flex;
    gap: 5px;
    width: fit-content;
    margin: 0 auto!important;
    margin-top: 10px!important;
}
.buttons > .btn{
    flex-direction: row!important;
    gap: 10px;
}
.buttons > .btn img{
    width: auto;
    height: 20px;
}

/* ------- Configurações LAPTOP */
@media(max-width: 1200px){
    .cabecalho .content .btn{
        margin-bottom: 20px;
    }

    .cabecalho .thumbnailComputer{
        transform: scale(1) translateY(25px);    
    }
    .cabecalho .thumbnailComputer img{
        width: 100%;
        height: auto;
    }

    .boxes{
        display: grid;
        grid-template-areas:
		"objA objA"
		"objB objC";
        height: fit-content;
    }
    .boxes > *{
        width: 100%;
    }
    .boxes > *:first-child{
        grid-area: objA;
    }
    .boxes > .box:nth-child(2n){
        grid-area: objB;
    }
    .boxes > .box:nth-child(3n){
        grid-area: objC;
    }

    .boxes > .box .icon img{
        width: 270px;
        height: 270px;
    }
}

@media(max-width: 1050px){
    .cabecalho .content{
        max-width: 700px;
    }
    .cabecalho .content .btn{
        margin-top: 20px;
    }

    .cabecalho .header{
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .cabecalho .header > *{
        margin: 0;
    }
    .cabecalho .header h1{
        text-align: left;
        margin-bottom: 0;
    }
    .cabecalho .thumbnailComputer{
        display: none;
    }
    .cabecalho .thumbnailMobile{
        background-color: #0000002c;
        border-radius: 100vmax;
        display: block;
        float: left;

        margin-right: 20px;

        min-width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
    }
    .cabecalho .thumbnailMobile img{
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: 70px;
        transform: scale(2.4) translateX(7px) translateY(25px);
    }
    .cabecalho .content{
        margin-top: 40px;
    }
}

#amanda .thumbnailMobile img{
    transform: scale(4) translateX(4px) translateY(23px);
}

/* ------- Configurações para TABLET */
@media(max-width: 820px){
    .cabecalho .content{
        justify-content: start;        
    }

    .boxes{
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .boxes > *{
        width: 100%;
    }
    .boxes > .box .icon img{
        width: 250px;
        height: 250px;
    }
    .buttons{
        flex-direction: column;
        margin: 20px auto!important;
    }
    .buttons > *{
        margin: 0!important;
    }

}

/* ------- Configurações para CELULAR */
@media(max-width: 520px){     
    .cabecalho p{
        padding: 0 10px;
    }  
}