/* Mudar cor de fundo do menu por página */
.menu{
    --bgColor: var(--firstColor);
}


/* ------- Configurações BODY */
body{
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 10%;
    filter: blur(5px);

    background-image: url(../imgs/fundoclinica.jpeg);
    background-size: 1950px 1000px;
    background-position: center;
}


/* ------- Configurações para botão */
.btn{
    background: transparent;
    width: fit-content;
    border: none;
    cursor: pointer;
    transition: filter .3s;
}
.btn > :focus{
    outline: none;
}
.btn:hover{
    transition: filter .5s;
    filter: brightness(.8);
}
.btn img{
    filter: invert(.8);
}
.btn p{
    color: #383838;
    font-weight: 650;
}


/* ------- Configurações style para caixas */
.container{
    background: rgba(242, 245, 242, 0);
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px -4px 45px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(21.5px);
    position: relative;
}

.mainInfo{
    display: flex;
    gap: 20px;
    height: 400px;
    margin-top: 25vh;
}
.mainInfo > *{
    width: 50%;
    border-radius: 10px;
}
.mainInfo .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mainInfo .content > h1{
    text-align: center;
    font-weight: 700;
    color: var(--firstColor);
    margin-bottom: 60px;
}
.mainInfo .options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}
.mainInfo .options > *{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 85%;
    background-color: var(--firstColor);
    color: white;
    border-radius: 20px;
    padding: 15px 20px;
    font-size: 17px;
    text-decoration: none;
    position: relative;
}
.mainInfo .options .option p{
    margin: 0;
}
.mainInfo .options .option #icon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
.mainInfo .options .option #icon img{
    width: 100%;
    height: 100%;
}
.mainInfo .options .option :is(p, #icon img):focus{
    outline: 1px solid black;
}

#readMore{
    color: var(--firstColor);
    padding: 0;
    margin: 0;
    font-size: 19px;
    display: flex;
    gap: 5px;
}
#readMore:hover #text{
    text-decoration: underline;
}
#readMore #icon{
    transform: rotate(90deg);
    transition: transform .3s;
}
#readMore.opened #icon{
    transform: rotate(180deg);
    transition: transform .3s;
}


/* ------- Configurações style para caixa saiba mais */
.moreInfo{
    overflow: hidden;
    transition: max-height .5s, margin .5s, padding .5s;
}
.moreInfo h1{
    font-size: 1.5rem;
    color: var(--firstColor);
}
.moreInfo p{
    text-align: justify;
    line-height: 24px;
    margin: 10px 0;
    font-size: 19px;
}
.moreInfo.opened{
    max-height: 300px;
    padding: 20px;
    margin: 10px;
}
.moreInfo.closed{
    max-height: 0px;
    padding: 0 20px;
    margin: 0;
}

.moreInfo > p{
    position: relative;
}
.moreInfo > p::before{
    position: absolute;
    left: -10px;
    top: 8px;
    width: 5px;
    height: 5px;
    border-radius: 100vmax;
    content: '';
    background-color: rgb(0, 0, 0);
  }


/* ------- Configurações para TABLET */
@media(max-width: 820px){

    .container{
        max-width: 400px;
        width: 100%;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .mainInfo{        
        flex-direction: column;
        display: flex;
        min-height: 575px;
        height: fit-content;

        margin: 0 auto;
        margin: 10px;
        margin-top: 100px;
    }
    .mainInfo > *{
        width: 100%;
    }
    .mainInfo .thumbnail > *{
        max-width: 100%;
        width: 100%;
        height: 300px;
    }
    .mainInfo .content h1{
        margin-bottom: 20px;
        font-size: 25px;
    }

    .moreInfo.opened{
        max-height: 500px;
    }

    #readMore{
        padding-bottom: 10px;
    }
}


/* ------- Configurações para CELULAR */
@media(max-width: 520px){
    .container{
        max-width: 100%;  
    }

    body::before{
        opacity: 7%;
    }
}