/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

/* Variaveis de cor */
:root{
    --firstColor: #59B1D6;
    --secondColor: #EDD75A;
    --thirdColor: #9C7ED6;
    --fourColor: #2f3544;

    --firstDegrade: linear-gradient(180deg, #59B1D6 0%, rgb(98, 162, 214) 100%);
    --secondDegrade: linear-gradient(180deg, #EDD75A 0%, #f7d154 100%);
    --thirdDegrade: linear-gradient(180deg, #9C7ED6 0%, #a485e2 100%);
}

/* Variaveis antigas de cor */
/*
:root{
    --firstColor: #708365;
    --secondColor: #EAB110;
    --thirdColor: #736EAC;
    --fourColor: #2f3544;
}
*/


/* Body présetado */
body{
  margin: 0;
  background: #F2F5F2;
}
body, *{
    font-family: 'Istok Web', sans-serif;
}

/* Scrollbar customizada */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: #f1f1f1; }
::-webkit-scrollbar-thumb { background: #d8d8d8; }
::-webkit-scrollbar-thumb:hover { background: #b6b6b6; }