/* Mudar cor de fundo do menu por página */
.menu{
    --bgColor: var(--fourColor);
}


/* ------- Configurações gerais */
body{
    padding: 30px 0;
}

body > .title{
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 20px;
    margin-top: 40px;
    
    position: relative;
    text-align: center;
    color: var(--fourColor);
}
body > .title::after{
    width: 80%;
    height: 8px;
    border-radius: 100vmax;
    background-color: var(--fourColor);
    margin: 0 auto;

    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(-10px);
}
.btn{
    width: fit-content;
    background: transparent;
    border: none;
    cursor: pointer;    
    transition: filter .3s;
}
.btn span{
    text-decoration: none;
}
.btn>:focus{
    outline: none;
}
.btn:hover{
    transition: filter .5s;
    filter: brightness(.8);
}


/* ------- Configurações para caixas */
.boxes{
    max-width: 1000px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: 10px;
    box-sizing: border-box;

    display: grid;
    grid-template-areas:
		"objA bigA"
		"objB bigA"
        "bigB objC"
        "bigB objD";
    gap: 10px;
}
.boxes > .box:nth-child(2){
    grid-area: objB;
}
.boxes > .box:nth-child(3){
    grid-area: bigA;
}
.boxes > .box:nth-child(4){
    grid-area: bigB;
}
.boxes > .box{
    background-color: var(--fourColor);
    border-radius: 10px;
    padding: 0;
    color: white;

    box-sizing: border-box;
}
.boxes > .box > .title{
    display: flex;
    flex-direction: row;
    gap: 10px;

    min-height: 15px;
    height: fit-content;
    background-color: #00000038;
    border-radius: 10px 10px 0 0;
    box-sizing: content-box;
    /* background: linear-gradient(0deg, transparent 12.5%, #00000038 100%); */
    padding: 15px;
    padding-bottom: 5px;
    position: relative;
}
.boxes > .box > .title > *{
    margin: 0;
}
.boxes > .box > .title > h1{
    margin-right: auto;
}
.boxes > .box > .title > #icon{
    width: 25px;
}
.boxes > .box > .title > #icon img{
    width: 100%;
    height: auto;
}
.boxes > .box > .title > .btn{
    display: none;

    color: white;
    font-size: 18px;
    
    transform: rotate(180deg);
}
.boxes > .box > .content{
    display: flex;
    flex-direction: column;
    gap: 30px;

    padding: 20px;
    text-align: justify;
    line-height: 28px;
}
.boxes > .box > .content > *{
    margin: 0;
}
.boxes > .box > .content > #duration{
    background-color: #242934;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 10px;
}


/* ------- Configurações para TABLET */
@media(max-width: 820px){
    .boxes{
        display: flex;
        flex-direction: column;
        grid-template-areas: none;
        gap: 20px;
    }
    .boxes > .box > .title > .btn{
        display: block;
    }
    .boxes > .box > .title > #price{
        position: absolute;
        top: -15px;
        right: -7px;
        padding: 5px 15px;
        border-radius: 100vmax;
        background-color: #1c1f27;
        z-index: 2;
    }
}


/* ------- Configurações para CELULAR */
@media(max-width: 520px){
    body > .title::after{
        width: 40%;
    }
  }