/* Mudar cor de fundo do menu por página */
.menu, *{
  --bgColor: #ffb803;
}


/* ------- Configurações header */
header{
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 90vh; /* Quebra como a imagem se posiciona */
  /* min-height: 865px; */
  padding: 0 20px;
  
  position: relative;
  overflow: hidden;
}
header::before{
  height: 100vh;
  background-image: url(../imgs/wave.png);
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-position: right center;

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 0;
  z-index: -1;
}
header .content{
  display: flex;
  flex-direction: column;
  gap: 40px;

  margin-left: 30px;
}
header .content .btn > *{
  width: 200px;
  background-color: var(--secondColor);
  padding: 10px 30px;
  border-radius: 100vmax;
  cursor: pointer;

  text-align: center;
  font-size: 16px;
  color: #5C5C5C;
  text-transform: uppercase;
  text-decoration: none;
}

header .content .btn > *:hover{
  filter: brightness(.9);
}

.faceSide{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.faceSide img{
  width: auto;
  height: 90%;
  transition: transform .5s;

  position: relative;
  top: 10%;
  right: -20px;
}

header .content :is(h1, p, .btn){
  margin: 0;
}
header h1{
  max-width: 670px;
  color: #2F321C;
  font-size: 50px; 
}
header .description{
  max-width: 580px;
  font-size: 20px;
  text-align: justify;
  /*backdrop-filter: blur(7px);
  background-color: #f2f5f238;*/
  padding: 10px;
}


/* ------- Configurações para caixas */
.boxes{
  display: flex;
}
.boxes .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  width: 100%;
  min-height: 400px;
  background: var(--bgColor);  
  padding: 60px 20px;

  color: #1D1D1D;
  box-sizing: border-box;
}
.boxes .box .title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.boxes .box #icon{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80px;
  height: 80px;
  background-color: #00000024;
  border-radius: 100vmax;
}
.boxes .box #icon img{
  width: 40px;
  height: 40px;
  margin: 10px;
  filter: invert(.9);
}

.boxes .box #title{
  margin: 0;
    font-size: 24px;
}
.boxes .box #description{
    max-width: 400px;
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.boxes > *:nth-child(1n){ --bgColor: var(--firstColor); }
.boxes > *:nth-child(2n){ --bgColor: var(--secondColor); }
.boxes > *:nth-child(3n){ --bgColor: var(--thirdColor); }

.bottom{
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom > h1{
  color: #1D1D1D;
  font-size: 35px;
}
.bottom > p{
  font-size: 18px;
  margin: 0 10px;
}



@media(max-width: 1200px){
  .faceSide img{
    transform: translateX(30%);
    transition: transform .5s;
  }
}


@media(max-width: 1000px){
  header::before{
    height: 1000px;
    background-color: var(--bgColor);
    background-image: unset;
  }
  .faceSide{
    left: 50%;
    transform: translateX(-70%);
  }
  .faceSide::before{
    width: 120vw;
    background: linear-gradient(0deg, var(--bgColor) 0%, transparent 50%);

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .faceSide img{
    opacity: 40%;
    transform: translateX(0%);
  }

  header{
    min-height: 700px;
  }
  .content .description{
    color: white;
    background-color: unset;
  }
}

/* ------- Configurações para TABLET */
@media(max-width: 820px){
  header .content{
    margin-top: 55px!important;
  }

  header h1{
    font-size: 40px;
  }

  .boxes{
    flex-direction: column;
  }  

  .boxes .box{
    min-height: 260px;
    gap: 10px;
  }
  .boxes .box > *{
    max-width: 400px!important;
    min-width: 0;
    width: 100%;
  }
  
  .boxes > *:nth-child(1n){ background: var(--firstDegrade); }
  .boxes > *:nth-child(2n){ background: var(--secondDegrade); }
  .boxes > *:nth-child(3n){ background: var(--thirdDegrade); }

  .boxes .box #icon{
    --size: 60px;
  }  

  .bottom{
    margin: 0 20px;
  }
  .bottom h1{
    text-align: center;
  }
  .bottom p{
    text-align: center;
    font-size: 18px;
  }
}


/* ------- Configurações para CELULAR */
@media(max-width: 520px){
  header{
    min-height: 600px;
    padding: 5px;
  }
  header .content{
    margin-left: 0;
    background: linear-gradient(0deg, #eab11094 0%, transparent 100%);
    border-radius: 0 0 10px 10px;
    backdrop-filter: blur(1.5px);
    margin: 10px;
    margin-bottom: 30px;
  }
  header .content :is(h1, p){
    margin: 0 20px!important;
  }
  header .content h1{
    margin-top: 20px!important;
  }
  header .content p{
    text-align: justify;
  }
  header .content .btn > *{
    width: 100%;
    border-radius: 7px;
    display: block;
    box-sizing: border-box;
  }

  .faceSide {
    transform: translateX(-70%) scale(1.2);
  }

  .boxes .box{
    min-height: 195px;
    height: fit-content;
  }
  .boxes .box .title{
    flex-direction: row;
    justify-content: start;
  }
  .boxes .box .title #title{
    font-size: 26px;
    font-weight: 700;
  }
  .boxes .box #description{
    font-size: 20px;
  }
  .boxes .box #icon{
    width: 50px;
    height: 50px;
  }
  .boxes .box #icon img{
    width: 25px;
    height: 25px;
  }

  .bottom h1{
    margin-bottom: 5px;
  }
  .bottom p{
    font-size: 20px;
  }
}
